@model IEnumerable<ZenithSociety.Models.Zenith.Event>

@{
    ViewBag.Title = "Index";
    var curDate = new DateTime();
}

<h2>Events for the current week</h2>

<table class="table" id="main-table">

@foreach (var item in Model)
{
    if (item.EventFrom.Date != curDate)
    {
        <tr>
            <th colspan="3">
                @String.Format("{0:D}", item.EventFrom)
            </th>
        </tr>
        curDate = item.EventFrom.Date;
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventFrom) - 
            @Html.DisplayFor(modelItem => item.EventTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.ActivityDesc)
        </td>
    </tr>
}

</table>