<h2>{{title}}</h2>
<div class="container" *ngIf="results">
     <table class="table">
       <tbody *ngFor="let p of results">
          <tr *ngIf="groupEvent(p)">
            <th colspan="3">
              {{p.EventFrom}}
            </th>
          <tr>
          <tr>
            <td>
              {{p.EventFrom | date:'fullDate'}} - {{p.EventFrom | date:'shortTime'}}
            </td>
            <td>
              {{p.EventTo | date:'fullDate'}} - {{p.EventTo | date:'shortTime'}}
            </td>
            <td>{{p.Activity}}</td>
          </tr>
        </tbody>
      </table>
</div>
