@{
    ViewData["Title"] = "Add User to Role";
    //var users = ViewData["Users"] as Dictionary<string, string>;
    var users = ViewData["Users"] as Dictionary<string, string>;
    var role = ViewData["Role"] as string;
}

<h2>@ViewData["Title"]</h2>

<hr />
    <table class="table">
        <thead>
            <tr>
                <td><strong>List of all users</strong></td>
            </tr>
        </thead>
        @foreach (var user in users)
        {
            <tr>
                <td>
                    @user.Value
                </td>
                <td>
                    <a asp-action="AddConfirmed" asp-route-id="@user.Key=@role">Add</a>
                </td>
            </tr>
        }
    </table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
